# A01 - Python

### Carolina Martínez Escalante

1. Genera una lista de 100 elementos con múltiplos de 3

In [40]:
lista=[]
for a in range (100):
    a=a*3
    lista.append(a)

In [41]:
print(lista)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]

2. Toma el archivo datosPE.xlsx y calcula el índice de masa corporal de cada persona.

In [42]:
import pandas as pd

In [43]:
data=pd.read_excel("datosPE.xlsx")

In [44]:
 # Índice de masa corporal=peso/altura

In [46]:
data["índice de masa corporal"]=data["Peso"]/data["Estatura"]

In [50]:
data

    ID Persona  Peso  Estatura  índice de masa corporal
0            1    67      1.41                47.517730
1            2    99      1.83                54.098361
2            3    86      1.90                45.263158
3            4   118      1.65                71.515152
4            5   109      1.67                65.269461
..         ...   ...       ...                      ...
95          96    88      1.49                59.060403
96          97    98      1.54                63.636364
97          98    95      1.57                60.509554
98          99    61      1.61                37.888199
99         100   107      1.62                66.049383

[100 rows x 4 columns]

In [53]:
data.to_excel("ejemplo_con_masa_corporal.xlsx")

3. Toma el archivo datosCT.xlsx y

- calcula la Utilidad (Ingreso - Gasto)
- encuentra el promedio de Gastos en los meses que la Utilidad fue negativa
- encuentra los ingresos totales del año

In [ ]:
import pandas as pd

In [55]:
data=pd.read_excel("datosCT.xlsx")

In [56]:
data

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140

In [57]:
data["Utilidad"]=data["Ingreso"]-data["Gasto"]

In [58]:
data

    Unnamed: 0  Ingreso  Gasto  Utilidad
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

In [14]:
import pandas as pd
ingresos=[1340,2590,3570,4450,1330,1610,1500,2270,1910,2120,3950,1380]
gastos=[1880,3130,2140,3370,2990,1970,2230,1240,1470,2280,1870,3140]
utilidad=[-540,-540,1430,1080,-1660,-360,-730,1030,440,-160,2080,-1760]

df=pd.DataFrame({"Ingreso": ingresos, "Gasto": gastos,"Utilidad": utilidad})
df_mask=df["Utilidad"]<0
filtered_df=df[df_mask]
print(filtered_df)

    Ingreso  Gasto  Utilidad
0      1340   1880      -540
1      2590   3130      -540
4      1330   2990     -1660
5      1610   1970      -360
6      1500   2230      -730
9      2120   2280      -160
11     1380   3140     -1760

In [15]:
print("El gasto promedio de los meses con utilidad negativa fue de: $",filtered_df["Gasto"].mean())

El gasto promedio de los meses con utilidad negativa fue de: $ 2517.1428571428573

In [74]:
print("Los ingresos totales del año son:$",data["Ingreso"].sum())

Los ingresos totales del año son:$ 28020